a {
	color: #448edc;
}

@media (max-width: 3000px) {
	.logo {
    margin-top: 30px;
		height: 600px;
	}
}

@media (max-width: 600px) {
	.logo {
    margin-top: 30px;
		height: 350px;
	}
}

@media (max-width: 400px) {
	.logo {
    margin-top: 30px;
		height: 250px;
	}
}

.catalogSection {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
}

.layerSize {
  width: 500px;
}

@media (max-width: 646px) {
  .layerSize {
    width: 400px;
  }
}

@media (max-width: 525px) {
  .layerSize {
    width: 250px;
  }
}

.card-img-top{
  width: 90%;
  margin-top: 10px;
}

.hmImgs {
  height: 250px;
  width: auto;
}

.fixed-top {
    z-index : 1;
}

.logoOnTop {
  z-index: 2;
}

.mainLogoFix {
  width: auto;
  height: 55px;
  position: fixed;
}

.navTop {
  width: auto;
  height: 150px;
}

@media (max-width: 850px) {
  .navTop {
    width: auto;
    height: 55px;
  }
}

.gspad {
  padding-top: 6px;
  padding-bottom: 6px;
}

.hmRowPadTop {
  padding-top: 30px;
}


@media (max-width: 400px) {
  .hmLogoSm {
    width: 300px;
  }
}

@media (max-width: 3000px) {
  .genLogoSm {
    width: 396px;
  }
}

@media (max-width: 400px) {
  .genLogoSm {
    width: 300px;
  }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23529df9' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23529df9' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carouselImg {
  width: auto;
  height: 800px;
  max-height: 800px;
}

@media (max-width: 1200px) {
  .carouselImg {
    width: auto;
    height: 500px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .carouselImg {
    width: auto;
    height: 400px;
    max-height: 400px;
  }
}

@media (max-width: 400px) {
  .carouselImg {
    width: auto;
    height: 300px;
    max-height: 300px;
  }
}

.hmRowPadLogo {
    padding-right: 0px;;
    padding-bottom: 10px;
    padding-left: 50px;
}

.hmTxtBottom {
  text-align: -webkit-auto;
}

.textpad {
  padding-left: 200px;
  padding-right: 200px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px; 
}

.section {
    padding-top: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #448edc;
    border-color: #448edc;
}

.navbar {
  background-color: #448edc;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #090909;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #090909;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #090909; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #090909;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #090909;
  background-color: #252525;
}
.navbar .navbar-toggle {
  border-color: #252525;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #252525;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #090909;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #090909;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #090909;
    background-color: #252525;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #090909;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #090909;
    background-color: #252525;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #090909;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #090909;
    background-color: #252525;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #090909;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #090909;
    background-color: #252525;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #090909;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #090909;
  background-color: #252525;
}